html,body,.containar--columngroup,.containar--rowgroup {
    width: 100%;
    height: 100%;
}
.box--A {
   background: #FFAF5F;
}
.box--B {
   background: #B0DD58;
}
.box--C {
   background: #69C9F9;
}
.containar--columngroup {
    display: flex;
    flex-direction: column;
}
/*@media screen and (max-width:359px ) {  
    .box--A {
       width: 100px;
       height: 20%;
    }
    .box--B {
       width: 100px;
       height: 45%;
    }
    .box--C {
       width: 100px;
       height: 45%;
    }
}*/
@media screen and (max-width:359px ) {  
    .box--A {
        width: 200px;
        height: 200px;
       -webkit-flex-shrink: 1;
    }
    .box--B {
        width: 200px;
        height: 200px;
       -webkit-flex-shrink: 2;
    }
    .box--C {
        width: 200px;
        height: 200px;
       -webkit-flex-shrink: 20;
    }
}

@media screen and (min-width:360px)and (max-width:719px) {  
    .box--A {
       width: 100%;
       height: 20%;
    }
    .box--B {
       width: 60%;
       height: 100%;
    }
    .box--C {
       width: 40%;
       height: 100%;
    }
    .containar--rowgroup{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (min-width:720px) {  
    .box--A {
       width: 100%;
       height: 15%;
    }
    .box--B {
       width: 20%;
       height: 100%;
    }
    .box--C {
       width: 80%;
       height: 100%;
    }
    .containar--rowgroup{
        display: flex;
        flex-direction: row;
    }
}  