html,body,.containar--columngroup,.containar--rowgroup {
    width: 100%;
    height: 100%;
}
.box--A {
   background: #FFAF5F;
}
.box--B {
   background: #B0DD58;
}
.box--C {
   background: #69C9F9;
}
.containar--columngroup {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:359px ) {  
    .box--A {
        flex:1;
    }
    .containar--rowgroup{
        flex:10;
        display: flex;
        flex-direction: column;
    }
    .box--B {
        flex: 1;
    }
    .box--C {
        flex: 1;
    }
}
@media screen and (min-width:360px)and (max-width:719px) {  
    .box--A {
        flex:1;
    }
    .containar--rowgroup{
        flex:10;
        display: flex;
        flex-direction: row-reverse;
    }
    .box--B {
        flex: 2;
    }
    .box--C {
        flex: 3;
    }
}
@media screen and (min-width:720px) {  
    .box--A {
        flex:1;
    }
    .containar--rowgroup{
        flex:15;
        display: flex;
        flex-direction:row;
    }
    .box--B {
        flex: 1;
    }
    .box--C {
        flex: 4;
    }
}  