html,body,.flexbox--A,.flexbox--B {
    height: 100%
}
.box--1 {
   background: #FFAF5F;
}
.box--2 {
   background: #B0DD58;
}
.box--3 {
   background: #69C9F9;
}
.flexbox--A{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:359px ) {  
    .box--1 {
       width: 100px;
       height: 20%;
    }
    .box--2 {
       width: 100px;
       height: 45%;
    }
    .box--3 {
       width: 100px;
       height: 45%;
    }
}

@media screen and (min-width:360px)and (max-width:719px) {  
    .box--1 {
       width: 100%;
       height: 20%;
    }
    .box--2 {
       width: 60%;
       height: 100%;
    }
    .box--3 {
       width: 40%;
       height: 100%;
    }
    .flexbox--B{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (min-width:720px) {  
    .box--1 {
       width: 100%;
       height: 15%;
    }
    .box--2 {
       width: 20%;
       height: 100%;
    }
    .box--3 {
       width: 80%;
       height: 100%;
    }
    .flexbox--B{
        display: flex;
        flex-direction: row;
    }
}  