/* 全体の設定 */
.font{
    align-items: center;
    color: #FFF;
    display: flex;
    font-size: 25px;
    justify-content: center;
}
.container{
    display: flex;
    height: 100vh;
}
.container2{
    display: flex;
}
.Box1{
    background-color: #FFAF5F;
}
.Box2{
    background-color: #B0DD58;
}
.Box3{
    background-color: #69C9F9;
}

/* スマホ画面用 */
@media screen and (max-width: 359px){
    .container{
        flex-direction: column;
        height: 200vh;
    }
    .Box1{
        flex-grow: 1;
    }
    .container2{
        flex-direction: column;
        flex-grow: 7;
    }
    .Box2{
        flex-grow: 3;
    }
    .Box3{
        flex-grow: 3;
    }
}

/* タブレット画面用 */
@media screen and (min-width: 360px) and (max-width: 719px){
    .container{
        flex-flow: column;
    }
    .Box1{
        flex-grow: 1;
    }
    .container2{
        flex-direction: row-reverse;
        flex-grow: 6;
    }
    .Box2{
        flex-grow: 3;
    }
    .Box3{
        flex-grow: 7;
    }
}

/* PC画面用 */
@media screen and (min-width: 720px){
    .container{
        flex-flow: column;
    }
    .Box1{
        flex-grow: 1;
    }
    .container2{
        flex-direction: row;
        flex-grow: 6;
    }
    .Box2{
        flex-grow: 7;
    }
    .Box3{
        flex-grow: 3;
    }
}