@charset "UTF-8";


/******************************************************
ベースの設定
******************************************************/
*{margin: 0; padding: 0; text-align: center;}

html, body{width: 100%; height: 100%;}

html {font-size: 62.5%;}

body {	
	font-family: 'Doppio One',Verdana,Arial,Meiryo,メイリオ,"MS Pゴシック",Sans-serif;
	color:black;
	font-size: 1.4rem;
	line-height: 1.7;
	}

a {text-decoration: none;}
img {border-style:none;}
ul {list-style: none;}

span{color: #777;}

h1{font-size: 2rem;}

p{margin-top: 30px;}

/******************************************************
ページの大枠
******************************************************/
#BigWrapper{width: 100%; margin: 10px auto;}
	#BigWrapper #wrapper{width: 95%; margin: 10px auto;}
	
/******************************************************
ヘッダー
******************************************************/

#header{height: 100px; margin: 0 auto; padding: 0px;}

	/* コンテンツ１ */
	#header #banner{margin:0px; height: 100px; background: #FFAF5F;}

/******************************************************
コンテナー
******************************************************/

#container{min-height: 500px;}

	/* コンテンツ２ */
	#contents{float:left; min-height: 600px; overflow: hidden;width:40%;}
	
		#contents .content{margin: 0px; height: 600px; background: #B0DD58;}
	
	/* コンテンツ３ */
	#sides1{float:left;min-height: 200px; overflow: hidden; width:60%;}
	
		#sides1 .side{margin: 0px; height: 200px; background: #69C9F9;}

	/* コンテンツ４ */
	#sides2{float:left;min-height: 200px; overflow: hidden; width:60%;}
	
		#sides2 .side{margin: 0px; height: 200px; background:#F4EF51;}

	/* コンテンツ５ */
	#sides3{float:left;min-height: 200px; overflow: hidden; width:60%;}
	
		#sides3 .side{margin: 0px; height: 200px; background: #FFB0FD;}


/* ---タブレットサイズ（768px以上1023px以下）の場合はこちらを読み込む------------------- */
@media screen and (min-width: 768px) {
/* ------------------------------------------------------------------------------- */

/******************************************************
ベースの設定
******************************************************/
h1{font-size: 3rem;}
.brnone{display: none;}

/******************************************************
ページの大枠
******************************************************/
#BigWrapper{width: 750px;}
	#BigWrapper #wrapper{width: 710px;}
	
/******************************************************
ヘッダー
******************************************************/

#header{height: 130px;}

	/* コンテンツ１ */
	#header #banner{height: 130px;}

/******************************************************
コンテナー
******************************************************/

#container{min-height: 500px;}

	/* コンテンツ２ */
    #contents{float:left; min-height: 600px; overflow: hidden;width:20%;}
	
		#contents .content{margin: 0px; height: 600px; background: #B0DD58;}
	
	/* コンテンツ３ */
	#sides1{float:left;min-height: 400px; overflow: hidden;width:40%;}
	
		#sides1 .side{margin: 0px; height: 400px; background: #69C9F9;}

	/* コンテンツ４ */
	#sides2{float:left;min-height: 400px; overflow: hidden;width:40%;}
	
		#sides2 .side{margin: 0px; height: 400px; background: #F4EF51;}

	/* コンテンツ５ */
	#sides3{float:left;min-height: 200px; overflow: hidden;width:80%;}
	
		#sides3 .side{margin: 0px; height: 200px; background: #FFB0FD;}

}

/* ---PCサイズ（1024px以上）の場合はこちらを読み込む---------------------------------- */
@media screen and (min-width: 1024px) {
/* ------------------------------------------------------------------------------- */

/******************************************************
ベースの設定
******************************************************/
h1{font-size: 3rem;}
.brnone{display: none;}

/******************************************************
ページの大枠
******************************************************/
#BigWrapper{width: 940px;}
	#BigWrapper #wrapper{width: 900px;}
	
/******************************************************
ヘッダー
******************************************************/
#header{height: 100px;}

	/* コンテンツ１ */
	#header #banner{height: 100px;}

/******************************************************
コンテナー
******************************************************/

#container{min-height: 500px;}

	/* コンテンツ２ */
    #contents{float:left; min-height: 600px; overflow: hidden;width:19%;}
	
		#contents .content{margin: 0px; height: 600px; background: #B0DD58;}
	
	/* コンテンツ３ */
	#sides1{float:left;min-height: 600px; overflow: hidden;width:27%;}
	
		#sides1 .side{margin: 0px; height: 600px; background: #69C9F9;}

	/* コンテンツ４ */
	#sides2{float:left;min-height: 600px; overflow: hidden;width:27%;}
	
		#sides2 .side{margin: 0px; height: 600px; background: #F4EF51;}

	/* コンテンツ５ */
	#sides3{float:left;min-height: 600px; overflow: hidden;width:27%;}
	
		#sides3 .side{margin: 0px; height: 600px; background: #FFB0FD;}

}