/*
・599pxまではモバイル専用
・600px～959pxまではタブレット（とブラウザを狭くしたデスクトップ）
・960px～1280pxまではデスクトップ（と横置きしたタブレット）
*/

/* 
ベース(全サイズに適用)
*/
.base{
	height: 100%;
}
.cont1{
	background-color:#ffaf5f;
	width: 100%;
	height: 100px;
	text-align: center;
}
.cont2{
	background-color:#b0dd58;
	width: 200px;
	text-align: center;
}
.cont3{
	background-color:#69c9f9;
	text-align: center;
}
.cont4{
	background-color:#f4ef51;
	text-align: center;
}
.cont5{
	background-color:#ffb0fd;
	text-align: center;
}


/*　画面サイズが480pxからはここを読み込む　*/
@media screen and (max-width:599px) { 
	.boxA{
		display: flex;
		flex-direction:row;
	}
	.boxB{
		display: flex;
		flex-direction:column;
		flex-grow:1;
	}
	.boxC{
		display: flex;
		flex-direction:column;
		flex-grow:2;
	}
	.cont2{
		align-items:stretch;
	}
	.cont3{
		flex-grow:1;
	}
	.cont4{
		flex-grow:1;
	}
	.cont5{
		flex-grow:1;
	}

}

/*　画面サイズが768pxから1024pxまではここを読み込む　*/
@media screen and (min-width:600px) and ( max-width:959px) {
	.boxA{
		display: flex;
		flex-direction:row;
	}
	.boxB{
		display: flex;
		flex-direction:column;
		flex-grow: 2;
	}
	.boxC{
		display: flex;
		flex-direction:row;
		flex-grow:1;
	}
	.cont2{
		flex-basis:200px;
	}
	.cont3{
		flex-grow:1;
	}
	.cont4{
		flex-grow:1;
	}
	.cont5{
		flex-grow:1;
}
}

/*　画面サイズが1024pxからはここを読み込む　*/
@media screen and (min-width:960px) {
	.boxA{
		display: flex;
		flex-direction:row;
	}
	.boxB{
		display: flex;
		flex-direction:row;
		flex-grow: 2;
	}
	.boxC{
		display: flex;
		flex-direction:row;
		flex-grow: 2;
	}
	.cont3{
		flex-grow: 1;
	}
	.cont4{
		flex-grow: 1;
	}
	.cont5{
		flex-grow: 1;
	}
}
 