/*
・599pxまではモバイル専用
・600px～959pxまではタブレット（とブラウザを狭くしたデスクトップ）
・960px～1280pxまではデスクトップ（と横置きしたタブレット）
*/
.containerA{
}
.containerB{
}
.containerC{
}
.containerD{
}

.boxA{
    background-color:gold;
}
.boxB{
    background-color:indigo;
}
.boxC{
    background-color:chartreuse;
}
.boxD{
    background-color:lightcoral;
}
.boxE{
    background-color:sienna;
}

/*　画面サイズが480pxからはここを読み込む　*/
@media screen and (max-width:599px) { 

}

/*　画面サイズが768pxから1024pxまではここを読み込む　*/
@media screen and (min-width:600px) and ( max-width:959px) {
.boxB{
    float:left;
}
.boxC{
    float:left;
    width:200px;
}
.boxD{
    float:left;
    width:500px;
}
.boxE{
    float:left;
    width:500px;
}
}

/*　画面サイズが1024pxからはここを読み込む　*/
@media screen and (min-width:960px) {
.boxB{
    float:left;
}
.boxC{
    float:left;
    width:200px;
}
.boxD{
    float:left;
    width:500px;
}
.boxE{
    float:left;
    width:500px;
}
}



