/* Scss Document */
@charset "utf-8";

$font-size-13: 13px;
$font-size-19: 19px;
$font-size-27: 27px;

[font-size="13"]{
	font-size: $font-size-13;
}

[font-size="19"]{
	font-size: $font-size-19;
}

[font-size="27"]{
	font-size: $font-size-27;
}