/* Scss Document */
@charset "utf-8";

@import "../../foundation/_base";
@import "../component/_color";
@import "../component/_font";

.body{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	&__main{
		padding: 24px;
		margin: 24px;
	}
}

.body__header{
	& .header{
		background-color: $primary-color;
		margin: 24px;
		&__title{
			font-size: $font-size-27;
			margin-left: 24px;
			&:after{
				content:"セレクタの使い方を覚えよう";
				color: $secondary-text-color;
				font-size: $font-size-19;
				margin-left: 24px;
			}
		}
	}
}

.body__main{
		border: solid thin;
		border-radius: 	4px;
	& .main{
		& > div:not([class^="main__"]){
			border: solid thin;
			border-radius: 	4px;
		}		
		& .table{
			width: 100%;
			text-align: center;
			&__row:not(:first-child) td{
				background-color: $accent-color;
			}
		}
		&__form{
			& .form{
				&__chkbox,&__lbl{
					cursor: pointer;
				}
				&__chkbox:checked ~ div{
					visibility: hidden;
				}
			}
		}
		&__link{
			& a{
				color: $accent-color;
				&:not([href*="http://"]){
					color: $primary-color-light;
				}
			}
		}
		&__button{
			& .buttonitem{
				cursor: pointer;
				&:focus{
					background-color: $accent-color;
				}
			}
		}
	}
}

.body__footer{
	& .footer{
		&__nav{
			& .footer__navitem{
				& a{
					&:hover{
						color: $primary-color-dark;	
					}
					&:active{
						color: $accent-color;
					}
				}
				&:first-child a{
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
				&:last-child a{
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

