html{
    height: 100%;
}
body{
    height: 95%;
    width: 99%;
    display: flex;    
}

.main{
    height: 100%;
    width: 97%;
    margin: 0% 1% 0% 1%;
}

.main__calendar{
    display: flex;
    flex-direction: column;
}
.calendar__main{
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:539px){

    .header{
        height: 14%;
        display: flex;
        flex-direction: column;
        min-height: 50%;
    }
    .header .header__year-month div:first-child{
        display: none;
    }
    
    [class *= "week"]{
        display: flex;
    }

    [class="main__dayoftheweek"]>[class*="day"]{
        /*flex-grow: 1;*/
        flex:1 1 1px;
    }

    .date p:first-child{
        margin: 2px 0px 0px 6px;

    }
    .date p:last-child{
        margin: -5px 0px 0px 4px;
    }

    .week{
        display: flex;
        flex: 1 1 1px;
    }

    .main__dayoftheweek{
        height: 5%;
        flex-grow: 1;
        font-size: 2vh;
    }
    .main__calendar{
        height: 85%;
    }

    .date--saturday,.main__dayoftheweek-saturday{
        color: blue;
    }

    .date--holyday,.main__dayoftheweek-holyday{
        color: red;
    }

    .fifthweek .date--holyday,.fifthweek .date--weekdays{
        display: flex;
        flex-direction: column;
    }

    .fifthweek .date--holyday div,.fifthweek .date--weekdays div{
        flex-direction: column;
        display: flex;
    }

    .header__month{
        display: flex;
        font-size: 15vh;
        padding: 0px 4% 0px 5%;
    }

    .header div:last-child{
        display: flex;
        flex-direction: column;
    }

    .header p{
        width:auto;
        margin: 0px;
    }

    .header div p:first-child{
        padding-top: 1%;
        font-size: 1.2vh;
        height: auto;
    }

    .header div p:last-child{
        padding-top: 1%;
        font-size: 1.2vh;
        height: auto;
    }

    .header__year-month{
       align-items: flex-start;
    }

    .main__calendar div[class*="week"] div[class *="day"] p:last-child{
        font-size: 1vh;
    }

    .date p:last-child{
        color: black;
    }
    .fourthweek .date--weekdays{
        color: red;
    }
    .date p:last-child{
        display: none;
    }

    .main__dayoftheweek p:first-child{
        display: none;
    }

    .date,.main__dayoftheweek div{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6vh;
    }
        .date{
        display: flex;
        flex: 1;
        min-height: 0px;
        flex-direction: column;
    }

    .fifthweek .date--holyday div:last-child,.fifthweek .date--weekdays div:last-child{
        /*display: none;*/
    }
}

@media screen and (min-width:540px){
    html{
        min-height: 350px;
    }

    body{
        flex-direction: column;
    }

    [class *= "week"]{
        display: flex;
    }

    [class="main__dayoftheweek"]>[class*="day"]{
        /*flex-grow: 1;*/
        flex:1 1 1px;
    }

    .date p:first-child{
        margin: 2px 0px 0px 6px;
        font-size: 2vh;
    }

    .date p:last-child{
        margin: -5px 0px 0px 4px;
    }

    .week{
        display: flex;
        flex: 2 1 1px;
    }

    .week--shrink{
        display: flex;
        flex: 1 1 1px;
    }

    .date{
        display: flex;
        border:  1px solid black;
        margin:0px -1px -1px 0px;
        flex: 1;
        min-height: 0px;
        flex-direction: column;
    }

    .header{
        height: 14%;
        display: flex;
        min-height: 10%;
    }
    
    .main__dayoftheweek{
        height: 5%;
        flex-grow: 1;
        font-size: 2vh;
    }

    .main__dayoftheweek p{
        margin: 0px;
    }
    
    .main__calendar{
        height: 85%;
    }

    .date--saturday,.main__dayoftheweek-saturday{
        color: blue;
    }

    .date--holyday,.main__dayoftheweek-holyday{
        color: red;
    }

    .fifthweek .date--holyday,.fifthweek .date--weekdays{
        display: flex;
        flex-direction: column;
    }

    .fifthweek .date--holyday div,.fifthweek .date--weekdays div{
        border-bottom:  1px solid black;
        margin-bottom: -1px;
        flex: 1 1 1px;
        flex-direction: column;
        display: flex;
    }

    .header__month{
        display: flex;
        font-size: 3vh;
        flex: 1 1 1px;
        align-items: center;
        justify-content: center;
    }

    .header div:last-child{
        display: flex;
        flex-direction: column;
    }

    .header p{
        width:auto;
        margin: 0px;
    }

    .header div p:first-child{
        padding-top: 1%;
        font-size: 1.2vh;
        height: auto;
    }

    .header div p:last-child{
        padding-top: 1%;
        font-size: 1.2vh;
        height: auto;
    }

    .header__year-month{
        display: flex;
       align-items: flex-end;
       flex: 1 1 1px;
    }

    .header .header__year-month div:last-child{
        display: none;
    }

    .header__blank{
        flex: 5 1 1px;        
    }

    .main__calendar div[class*="week"] div[class *="day"] p:last-child{
        font-size: 1vh;
    }

    .date p:last-child{
        color: black;
    }
    
    .fourthweek .date--weekdays{
        color: red;
    }
    
    .fourthweek .date--weekdays p:first-child:after{
        color: red;
        content: "海の日";
        font-size: 1.2vh;
        margin-left: 5%;
    }

    .main__dayoftheweek p:last-child{
        display: none;
    }

    div div[class="date date--blank"]{
        border-top: 1px white;
    }
    
    .sixweek{
        /*display: none;*/
    }
}

