html{
    height: 100%;
}
body{
    height: 95%;
    width: 99%;
    display: flex;    
}

.main{
    height: 88%;
    width: 100%;
}

.main__calendar{
    display: flex;
    flex-direction: column;
}
.calendar__main{
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:519px){

    .calendar{
        min-height: 255px;
        height: 255px;
        min-width: 384px;
        width: 384px;
        border: 1px solid black;
        display: flex;
    }
    .calendar .main{
        height: 100%;
        flex: 10 1 1px;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    .header{
        height: 12%;
        display: flex;
        flex-direction: column;
        min-height: 50%;
        flex: 1.2 1 1px;
    }
    .header__year-month__first{
        display: none;
    }
    
    [class *= "week"]{
        display: flex;
    }

    [class="main__dayoftheweek"]>[class*="day"]{
        flex:1 1 1px;
    }

    .date p:first-child{
        margin: 2px 0px 0px 6px;

    }
    .date p:last-child{
        margin: -5px 0px 0px 4px;
    }

    .week{
        display: flex;
        flex: 1 1 1px;
    }

    .main__dayoftheweek{
        flex:1 1 1px; 
        margin-top: 10px;
    }
    .main__calendar{
        flex: 7 1 1px;
    }

    .date--saturday,.main__dayoftheweek--saturday{
        color: blue;
    }

    .date--holyday,.main__dayoftheweek--holyday{
        color: red;
    }

    .header__month{
        display: flex;
        font-size: 50px;
        padding: 0px 4% 0px 5%;
        justify-content: center;
    }

    .header div:last-child{
        display: flex;
        flex-direction: column;        
    }

    .header__year-month__year ,.header__year-month__month{
        width:auto;
        margin: 6px 0px -12px 0px;
    }

    .header div p:first-child{
        font-size: 15px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .header div p:last-child{
        font-size: 20px;
        height: auto;
        display: flex;
        justify-content: center;
        transform: scale(1,0.7);
    }

    .header__year-month{
       align-items: flex-start;
       display: flex;
       justify-content: center;
    }

    .date p:last-child{
        color: black;
    }
    .fourthweek .date--weekdays{
        color: red;
    }
    .date p:last-child{
        display: none;
    }

    .main__dayoftheweek p:first-child{
        display: none;
    }

    .date,.main__dayoftheweek div{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
    }
        .date{
        display: flex;
        flex: 1;
        min-height: 0px;
        flex-direction: column;
    }

    .align-center{
        display: flex;
        flex-direction: column;
        height: 98%;
        width: 97%;
    }
    .margin-0{
        margin: 0px;
    }
}

@media screen and (min-width:520px) and (max-width:719px){
    html{
        min-height: 350px;
    }

    .calendar{
    min-height: 355px;
    height: 455px;
    width: 96%;
    border: 1px solid black;
    }
    body{
        flex-direction: column;
    }

    [class *= "week"]{
        display: flex;
    }

    [class="main__dayoftheweek"]>[class*="day"]{
        flex:1 1 1px;
    }

    .date p:first-child{
        margin: 2px 0px 0px 6px;
        font-size: 18px;
    }

    .date p:last-child{
        margin: -5px 0px 0px 4px;
    }

    .week{
        display: flex;
        flex: 2 1 1px;
    }

    .week:last-child{
        border-bottom:1px solid black;
    }
    .week--shrink{
        display: flex;
        flex: 1 1 1px;
    }
    .date{
        display: flex;
        flex: 1;
        min-height: 0px;
        flex-direction: column;
    }
    .date:first-child{
        border-right: 1px solid black;
        border-left:1px solid black;
        border-top: 1px solid black;
    }
    .date+.date{
        border-top: 1px solid black;
        border-right: 1px solid black;
    }
    .header{
        height: 12%;
        display: flex;
        min-height: 10%;
    }
    
    .week .date--blank{
        border-top: none;
    }
    .main__dayoftheweek{
        height: 4%;
        flex-grow: 1;
        font-size: 12px;
    }

    .main__dayoftheweek p{
        margin: 0px;
    }
    
    .main__calendar{
        height: 92%;
    }

    .date--saturday,.main__dayoftheweek--saturday{
        color: blue;
    }

    .date--holyday,.main__dayoftheweek--holyday{
        color: red;
    }

    .header__month{
        display: flex;
        font-size: 50px;
        flex: 1 1 1px;
        align-items: center;
        justify-content: center;
    }

    .header__year-month__year ,.header__year-month__month{
        width:auto;
        margin: 0px 0px -7px 0px;

    }

    .header div p:first-child{
        padding-top: 1%;
        font-size: 10px;
        height: auto;        
    }

    .header div p:last-child{
        padding-top: 1%;
        font-size: 13px;
        height: auto;
    }

    .header__year-month{
       display: flex;
       align-items: center;
       flex: 1 1 1px;
    }

    .header__year-month__second{
        display: none;
    }

    .header__blank{
        flex: 5 1 1px;        
    }

    .main__calendar div[class*="week"] div[class*="day"] p:last-child{
        font-size:10px;
    }

    .date p:last-child{
        color: black;
    }
    
    .main__dayoftheweek p:last-child{
        display: none;
    }

    div div[class="date date--blank"]{
        border-top: 1px white;
    }
    div[class="week--shrink"]:first-child{
        border-bottom-color: white;
    }
    
    .date__holyday{
        display: flex;
    }
    .date__holyday p:last-child{
        display: flex;
        align-items: center;
        color: red;
    }
    .margin-top{
        margin-top: 5px;
        
    }
    .align-center{
        display: flex;
        flex-direction: column;
        height: 98%;
        width: 97%;
    }
    .main{
        display :flex;
        flex-direction: column;
        align-items: center;
    }
}



@media screen and (min-width:720px){
    html{
        min-height: 350px;
    }
    .main{
        display :flex;
        flex-direction: column;
        align-items: center;
    }
    .calendar{
    height: 455px;
    width: 684px;
    border: 1px solid black;
    }
    body{
        flex-direction: column;
    }

    [class *= "week"]{
        display: flex;
    }

    [class="main__dayoftheweek"]>[class*="day"]{
        flex:1 1 1px;
    }

    .date p:first-child{
        margin: 2px 0px 0px 6px;
        font-size: 18px;
    }

    .date p:last-child{
        margin: -5px 0px 0px 4px;
    }

    .week{
        display: flex;
        flex: 2 1 1px;
    }

    .week:last-child{
        border-bottom:1px solid black;
    }
    .week--shrink{
        display: flex;
        flex: 1 1 1px;
    }
    .date{
        display: flex;
        flex: 1;
        min-height: 0px;
        flex-direction: column;
    }
    .date:first-child{
        border-right: 1px solid black;
        border-left:1px solid black;
        border-top: 1px solid black;
    }
    .date+.date{
        border-top: 1px solid black;
        border-right: 1px solid black;
    }
    .header{
        height: 12%;
        display: flex;
        min-height: 10%;
    }
    
    .week .date--blank{
        border-top: none;
    }
    .main__dayoftheweek{
        height: 4%;
        flex-grow: 1;
        font-size: 12px;
    }

    .main__dayoftheweek p{
        margin: 0px;
    }
    
    .main__calendar{
        height: 92%;
    }

    .date--saturday,.main__dayoftheweek--saturday{
        color: blue;
    }

    .date--holyday,.main__dayoftheweek--holyday{
        color: red;
    }

    .header__month{
        display: flex;
        font-size: 50px;
        flex: 1 1 1px;
        align-items: center;
        justify-content: center;
    }

    .header__year-month__year ,.header__year-month__month{
        width:auto;
        margin: 0px 0px -7px 0px;

    }

    .header div p:first-child{
        padding-top: 1%;
        font-size: 10px;
        height: auto;        
    }

    .header div p:last-child{
        padding-top: 1%;
        font-size: 13px;
        height: auto;
    }

    .header__year-month{
       display: flex;
       align-items: center;
       flex: 1 1 1px;
    }

    .header__year-month__second{
        display: none;
    }

    .header__blank{
        flex: 5 1 1px;        
    }

    .main__calendar div[class*="week"] div[class*="day"] p:last-child{
        font-size:10px;
    }

    .date p:last-child{
        color: black;
    }
    
    .main__dayoftheweek p:last-child{
        display: none;
    }

    div div[class="date date--blank"]{
        border-top: 1px white;
    }
    div[class="week--shrink"]:first-child{
        border-bottom-color: white;
    }
    
    .date__holyday{
        display: flex;
    }
    .date__holyday p:last-child{
        display: flex;
        align-items: center;
        color: red;
    }
    .margin-top{
        margin-top: 5px;        
    }
    .align-center{
        display: flex;
        flex-direction: column;
        height: 98%;
        width: 97%;
    }
}

