html{
    height: 67.5%;
    width: 90%;
    margin:10px;
}
body{
    height: 100%;
    width: 100%;
    display: flex;    
}

.body__main{
    height: 100%;
    width: 100%;
    margin-top: 3%;
}

.calendar{
    display: flex;
    flex-direction: column;
}
.calendar__main{
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:539px){

    body{
        flex-direction: row;
    }

    .body__top{
        height: 14%;
        display: flex;
        flex-direction: column;
        min-height: 50%;
    }
    .body__top .yearmonth p:first-child{
        font-size: 0px; 
    }
    .yearmonth p:first-child:before{
        font-size: 4vh;
        content: "2017";
    }

    .body__top .yearmonth p:last-child{
        font-size: 0px; 
    }
    .yearmonth p:last-child:before{
        font-size: 5vh;
        content: "JUL";
    }

    [class *= "week"]{
        display: flex;
        flex-direction: row;
    }

    [class="day-of-the-week"]>[class*="day"]{
        flex-grow: 1;
    }

    #date p:first-child{
        margin: 2px 0px 0px 6px;

    }
    #date p:last-child{
        margin: -5px 0px 0px 4px;
    }

    .firstweek,.secondweek,.thridweek,.fourthweek,.fifthweek,.sixweek{
        display: flex;
        flex: 1 1 1px;
    }

    .day-of-the-week{
        height: 5%;
        flex-grow: 1;
        margin: 2% 0px 0px 1%;
        font-size: 2vh;
    }
    .calendar{
        height: 85%;
        margin: 2% 0px 0px 1%;
    }

    .saturday{
        color: blue;
    }

    .sunday{
        color: red;
    }

    .fifthweek .sunday,.fifthweek .monday{
        display: flex;
        flex-direction: column;
    }

    .fifthweek .sunday div,.fifthweek .monday div{
        flex-direction: column;
        display: flex;
    }

    .month{
        display: flex;
        font-size: 15vh;
        padding: 0px 4% 0px 5%;
        min-height: 65%;
    }

    .body__top div:last-child{
        display: flex;
        flex-direction: column;
    }

    .body__top p{
        width:auto;
        margin: 0px;
    }

    .body__top div p:first-child{
        padding-top: 1%;
        font-size: 1.2vh;
        height: auto;
    }

    .body__top div p:last-child{
        padding-top: 1%;
        font-size: 1.2vh;
        height: auto;
    }

    .yearmonth{
        margin: 5% 0px 0px 0.5%;
    }

    .calendar div[class*="week"] div[class *="day"] p:last-child{
        font-size: 1vh;
    }

    #date p:last-child{
        color: black;
    }
    .fourthweek .monday{
        color: red;
    }
    #date p:last-child{
        display: none;
    }

    .day-of-the-week p:first-child{
        display: none;
    }

    #date,.day-of-the-week div{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6vh;
    }
        #date{
        display: flex;
        flex: 1;
        min-height: 0px;
        flex-direction: column;
    }

    .fifthweek .sunday div:last-child,.fifthweek .monday div:last-child{
        display: none;
    }
}

@media screen and (min-width:540px){
    html{
        min-height: 350px;
    }

    body{
        flex-direction: column;
        height: 100%;
    }

    [class *= "week"]{
        display: flex;
        flex-direction: row;
    }

    [class="day-of-the-week"]>[class*="day"]{
        flex-grow: 1;
    }

    #date p:first-child{
        margin: 2px 0px 0px 6px;
        font-size: 2vh;
    }

    #date p:last-child{
        margin: -5px 0px 0px 4px;
    }

    .firstweek,.secondweek,.thridweek,.fourthweek,.fifthweek{
        display: flex;
        flex: 1 1 1px;
    }

    #date{
        display: flex;
        border:  1px solid black;
        margin:0px -1px -1px 0px;
        flex: 1;
        min-height: 0px;
        flex-direction: column;
    }

    .body__top{
        height: 14%;
        display: flex;
        flex-direction: row;
        min-height: 10%;
    }
    
    .day-of-the-week{
        height: 5%;
        flex-grow: 1;
        margin: 2% 0px 0px 1%;
        font-size: 2vh;
    }
    
    .calendar{
        height: 85%;
        margin: 2% 0px 0px 1%;
    }

    .saturday{
        color: blue;
    }

    .sunday{
        color: red;
    }

    .fifthweek .sunday,.fifthweek .monday{
        display: flex;
        flex-direction: column;
    }

    .fifthweek .sunday div,.fifthweek .monday div{
        border-bottom:  1px solid black;
        margin-bottom: -1px;
        flex: 1 1 1px;
        flex-direction: column;
        display: flex;
    }

    .month{
        display: flex;
        font-size: 8vw;
        padding: 0px 4% 0px 5%;
    }

    .body__top div:last-child{
        display: flex;
        flex-direction: column;
    }

    .body__top p{
        width:auto;
        margin: 0px;
    }

    .body__top div p:first-child{
        padding-top: 1%;
        font-size: 1.2vw;
        height: auto;
    }

    .body__top div p:last-child{
        padding-top: 1%;
        font-size: 1.2vw;
        height: auto;
    }

    .yearmonth{
        margin: 5% 0px 0px 0.5%;
    }

    .calendar div[class*="week"] div[class *="day"] p:last-child{
        font-size: 1vh;
    }

    #date p:last-child{
        color: black;
    }
    
    .fourthweek .monday{
        color: red;
    }
    
    .fourthweek .monday p:first-child:after{
        color: red;
        content: "海の日";
        font-size: 1.2vh;
        margin-left: 5%;
    }

    .day-of-the-week p:last-child{
        display: none;
    }
    
    .sixweek{
        display: none;
    }
}

