/* Scss Document */

$header-color: #388E3C;
$button-color: #C8E6C9;
$active-button-color: #FF9800;
$divider-color: #BDBDBD;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white: #FFFFFF;
$font13: 13px;
$font15: 15px;
body {
    font-size: $font15;
    color: $primary-text-color;
}

@mixin button {
    width: 43px;
    height: 43px;
    background-color: $button-color;
}

@mixin flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin scheduleFrame {
    border-style: solid none solid solid;
    border-color: $divider-color;
    border-width: 1px;
    &:last-child {
        border-style: solid;
    }
}

@mixin scheduleHeader() {
    height: 50px;
    text-align: center;
}

@mixin padding() {
    padding-left: 15px;
    padding-top: 15px;
}

.title {
    @include padding();
    padding-bottom: 15px;
    font-size: 25px;
    color: white;
    background-color: $header-color;
    text-align: left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.tvSchedule {
    @include flexbox();
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    .schedule {
        min-width: 257px;
        width: 257px;
    }
}

.schedule {
    @include scheduleFrame();
    flex-grow: 1;
}

.globalIcon {
    @include scheduleHeader();
}

.educationIcon {
    @include scheduleHeader();
}

.bsPremiumIcon {
    @include scheduleHeader();
}

.bsOneIcon {
    @include scheduleHeader();
}

.mdl-button {
    min-width: 43px;
    padding: 0px;
    line-height: initial;
    &.mdl-button--raised.mdl-button--colored:hover,
    &.mdl-button--raised.mdl-button--colored {
        background-color: $button-color;
        color: $primary-text-color;
        width: 43px;
        height: 43px;
        font-size: $font13;
        margin-right: 15px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
    &.mdl-button--raised.mdl-button--colored.isActive:hover,
    &.mdl-button--raised.mdl-button--colored.isActive {
        background-color: $active-button-color;
        color: $white;
    }
}

.scheduleStartTime {
    background-color: $button-color;
    padding-left: 7px;
}

.scheduleTitle {
    margin: 15px;
}

.scheduleContent,
.scheduleAct {
    color: $secondary-text-color;
    margin: 15px;
    font-size: $font13;
}

.line {
    margin-right: 15px;
    margin-left: 15px;
}

.readMessage {
    @include padding();
}

.selectDate {
    @include padding();
    @include flexbox();
    padding-left: 30px;
    padding-top: 0px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.credit{
    width: 100%;
    margin-bottom: 15px;
    color: $divider-color;
    text-align: right;
    & > span{
        margin-right: 15px;
    }
}
.timeSchedule{
    margin-top: 50px;
}