<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../static/js/vendor/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/js/project/flexbox/flexbox.js" charset="UTF-8"></script>
    <link href="../../static/scss/flexbox.css" rel="stylesheet">
    <title>ふれっくすぼっくす</title>
</head>
<body>
<main>
    <div class="column">
        <div class="box red width--4 boxHeight--1 "></div>
        <div class="row">
            <div class="box yellow width--1 boxHeight--3"></div>
            <div class="column">
                <div class="row">
                    <div class="box blue width--2 boxHeight--2"></div>
                    <div class="box green width--1 boxHeight--2"></div>
                </div>
                <div class="box orange width--3 boxHeight--1"></div>
            </div>
        </div>
        <div class="margin--small"></div>
        <button id="btnChangeSize">巨大化!!</button>
        <div class="margin--small"></div>
        <button id="btnChangeColor">変色!!</button>
    </div>
</main>
</body>
<script type="text/javascript">
</script>
</html>