.calender {
    font-family: 'Trebuchet MS';
    display: flex;
}
.week__header .sun,.week__body .sun .day--number,.week__body .sun .day--number,.holiday__name {
    color: #cc0033;
}
.week__header .sat,.sat .day--number {
    color: #005bac;
}
.title {
    display: flex;
    align-items: flex-end;
    flex: 1;
}
.title__sub {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.year {
    display: flex;
    flex-direction: row;
}
.grid {
    display: flex;
    flex-direction: column;
    flex: 6;
}
.week__header {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.week__body  {
    display: flex;
    flex-direction: row;
    flex: 4;
}
.daybox {
    flex: 1;
}
.weekbox {
    flex: 1;
}

@media screen and (min-width:500px) {
    .calender {
        height: 470px;
        width: 650px;
        padding: 15px;
        border: 1px solid #000;
        flex-direction: column;
    }
    .holes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .hole {
        background-color: #000;
        height: 10px;
        width: 10px;
    }
    .title {
        flex-direction: row;
    }
    .month__number {
        font-size: 65px;
        margin-left: 40px;
        margin-bottom: -11px;
    }
    .year--english,.year--japanese {
        font-size: 10px;
    }
    .month__english {
        font-size: 15px;
    }
    .grid {
        margin-top: 13px;
    }
    .week__header {
        font-size: 12px;
    }
    .daybox  {
        border: 1px solid #000;
        margin: -0.5px;
        padding: 5px;
    }
    .daybox .day--number {
        font-size: 19px;
    }
    .daybox .day--number {
        font-size: 14px;
    }
    .day--rokuyou,.day--nationalholiday {
        font-size: 8px;
    }
    .daybox--row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .day--nationalholiday {
        margin-left: 5px;
        font-size: 8px;
    }
}
@media screen and (max-width:499px) {
    .calender {
        height: 80px;
        width: 200px;
        flex-direction: row;
    }
    .holes {
        display: none;
    }
    .title {
        flex-direction: column;
    }
    .month__number {
        font-size: 18px;
    }
    .title__sub {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    .year--english {
        font-size: 2px;
    }
    .year--japanese {
        display: none;
    }
    .month__english {
        font-size: 2px;
    }
    .week__header {
        font-size: 2px;
        text-align: center;
        margin-bottom: 9px;
    }
    .weekbox {
        flex: 1;
    }
    .daybox .day--number {
        font-size: 1px;
        text-align: center;
    }
    .day--rokuyou,.day--nationalholiday {
        display: none;
    }
    .week__body__box--half .day {
        font-size: 1px;
        text-align: center;
    }
    .daybox {
        margin-bottom: 13px;
    }
    .day--nationalholiday {
        margin-left: 5px;
        font-size: 8px;
    }
}