html,body{
    height: 100%;
}
.calender {
    font-family: 'Trebuchet MS';
    height: 60%;
    padding: 2%;
    display: flex;
}
.holes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hole {
    background-color: #000;
    height: 10px;
    width: 15px;
}
.title {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.month__number {
    font-size: 65px;
}
.title__sub {
    display: flex;
    flex-direction: column;
}
.year {
    font-size: 10px;
}
.month__english {
    font-size: 15px;
}
.grid {
    display: flex;
    flex-direction: column;
}
.week__header {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.week__body__box__child{
    padding: 5px;
}
.week__header__box {
    flex: 1;
}
.week__body  {
    display: flex;
    flex-direction: row;
    flex: 4;
}
.week__body__box  {
    margin: -0.5px;
}
.boxcommon {
    flex: 1;
}
.week__body__box .day {
    font-size: 19px;
}
.rokuyou,.holiday__name {
    font-size: 8px;
}
.holiday__set {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.holiday__name {
    margin-left: 5px;
    font-size: 8px;
}
.halfbox__container {
    margin: -0.5px;
    display: flex;
    flex-direction: column;
}
.halfbox__container .day {
    font-size: 14px;
}
.halfbox {
    padding: 3px;
    margin: -1px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.week__header .sun,.sun .day,.nationalholiday .day,.holiday__name {
    color: #cc0033;
}
.week__header .sat,.sat .day {
    color: #005bac;
}

@media screen and (max-width:719px){
    .calender{
        flex-direction: row;
    }
    .title{
        align-items: flex-start;
        
        margin-top: 10%;
    }
    .grid{
        flex: 12;
    }
    .holes, .rokuyou, .holiday__name{
        display: none;
    }
}
@media screen and (min-width:720px){
    .calender{
        border: 1px solid #000;
        flex-direction: column;
    }
    .title{
        align-items: flex-end;        
    }
    .month__number{
        margin-left: 40px;
        margin-bottom: -11px;
    }
    .title__sub{
        margin-left: 20px;        
    }
    .grid{
        margin-top: 13px;
        flex: 6;
    }
    .week__body__box  {
        border: 1px solid #000;
    }    
    .halfbox{
        border-bottom: 1px solid #000;        
    }
    .halfbox__container {
        border: 1px solid #000;
    }    
}