@mixin boxHeight($height) {
  height: $height;
  line-height: $height;
}
@mixin width($width) {
  width: $width;
}
@mixin boxBackgroundColor($top:#05FBFF, $under:#1E00FF) {
  background: linear-gradient($top, $under);
}

html, body{
  font-size: 1.5rem;
  height: 100%;
}

h1 {
  font-size: 1rem;
  background: rgba(50, 50, 50, 0.8);
  color: #eeb119;
  margin: 0;
}

button {
  @include width(12rem);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.row {
  @extend .wrapper;
  flex-direction: row;
}
* {
  min-height: 0;
  min-width: 0;
}
.column {
  @extend .wrapper;
  flex-direction: column;
}

.box {
  border: 3px solid #2b2b2b;
  margin: -3px;
  text-align: center;
}

.boxHeight--1 {
  @include boxHeight(3rem);
}

.boxHeight--2 {
  @include boxHeight(6rem);
}

.boxHeight--3 {
  @include boxHeight(9rem);
}

.width--1 {
  @include width(3rem);
}

.width--2 {
  @include width(6rem);
}

.width--3 {
  @include width(9rem);
}

.width--4 {
  @include width(12rem);
}

.red {
  @include boxBackgroundColor(#ef93a9, #ee391b);
}

.yellow {
  @include boxBackgroundColor(#f3edbd, #ebf31f);
}

.blue {
  @include boxBackgroundColor(#0addff, #1E00FF);
}

.green {
  @include boxBackgroundColor(#b3f0c0, #1cf03d);
}

.orange {
  @include boxBackgroundColor(#ffc328, #ff7403);
}

.margin--small {
  margin: 0.5rem;
}
