/* Scss Document */
body {
  font-size: 15px;
  color: #212121; }

.title {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  color: white;
  background-color: #388E3C;
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.tvSchedule {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .tvSchedule .schedule {
    min-width: 257px;
    width: 257px; }

.schedule {
  border-style: solid none solid solid;
  border-color: #BDBDBD;
  border-width: 1px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .schedule:last-child {
    border-style: solid; }

.globalIcon {
  height: 50px;
  text-align: center; }

.educationIcon {
  height: 50px;
  text-align: center; }

.bsPremiumIcon {
  height: 50px;
  text-align: center; }

.bsOneIcon {
  height: 50px;
  text-align: center; }

.mdl-button {
  min-width: 43px;
  padding: 0px;
  line-height: initial; }
  .mdl-button.mdl-button--raised.mdl-button--colored:hover, .mdl-button.mdl-button--raised.mdl-button--colored {
    background-color: #C8E6C9;
    color: #212121;
    width: 43px;
    height: 43px;
    font-size: 13px;
    margin-right: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .mdl-button.mdl-button--raised.mdl-button--colored.isActive:hover, .mdl-button.mdl-button--raised.mdl-button--colored.isActive {
    background-color: #FF9800;
    color: #FFFFFF; }

.scheduleStartTime {
  background-color: #C8E6C9;
  padding-left: 7px; }

.scheduleTitle {
  margin: 15px; }

.scheduleContent,
.scheduleAct {
  color: #757575;
  margin: 15px;
  font-size: 13px; }

.line {
  margin-right: 15px;
  margin-left: 15px; }

.readMessage {
  padding-left: 15px;
  padding-top: 15px; }

.selectDate {
  padding-left: 15px;
  padding-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-top: 0px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto; }

.credit {
  width: 100%;
  margin-bottom: 15px;
  color: #BDBDBD;
  text-align: right; }
  .credit > span {
    margin-right: 15px; }

.timeSchedule {
  margin-top: 50px; }
