html,body{
	height: 100%;
}

body{
    color: white;
	margin: 0px;
}

section{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.contentMain{
    width:100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
}

.contentHeader{
    width: 100%;
    background: #FFAF5F;

    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

.contentMenu{
    background: #b0dd58;
    width: 25%;
	height: 100%;
	
    writing-mode: vertical-rl;
    font-size: 60px;
	
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.content{
    min-width: 300px;
    writing-mode: vertical-rl;
    flex-grow: 1;
    font-size: 60px;

	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.contentLightBlue{
    background: #69c9f9;
}

.contentYellow{
    background: #f4ef51;
}

.contentPink{
    background: #FFb0FD;
}

@media screen and (min-width: 782px) and (max-width: 1157px){
    .contentPink{
        writing-mode: horizontal-tb;
    }
}

@media screen and (min-width: 0px) and (max-width: 782px){
    .content{
        writing-mode: horizontal-tb;
    }
}

