html{
	height: 100%;
}

body{
    color: white;
	margin: 0px;
    height: 100%;
}

.container{
    min-height: 100vh;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.contents{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex: 1;
}

.contentMain{
    width:100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
}

.contentHeader{
    width: 100%;
    height: 100px;
    background: #FFAF5F;

    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

.contentMenu{
    background: #b0dd58;
    width: 25%;

    writing-mode: tb-rl;
    font-size: 60px;
	
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.content{
    min-width: 300px;
    writing-mode: tb-rl;
    flex-grow: 1;
    font-size: 60px;

	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.contentLightBlue{
    background: #69c9f9;
}

.contentYellow{
    background: #f4ef51;
}

.contentPink{
    background: #FFb0FD;
}

@media screen and (min-width: 838px) and (max-width: 1157px){
    .contentPink{
        writing-mode: lr-tb;
    }
}

@media screen and (min-width: 0px) and (max-width: 838px){
    .content{
        writing-mode: lr-tb;
    }
}

