section{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.contentMain{
    width:100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
}

.contentHeader{
    width: 100%;
    box-sizing: border-box;
    background: #FFAF5F;
    color: white;

    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

.contentMenu{
    background: #b0dd58;
    width: 25%;
    height: 100%;
    color: white;

    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 100px;
    font-size: 60px;
}

.content{
    /*width: 300px;*/
    min-width: 300px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    flex-grow: 1;
    vertical-align: middle;

    color: white;

    text-align: center;
    font-size: 60px;
    line-height: 100px;
}

.contentLightBlue{
    background: #69c9f9;
}

.contentYellow{
    background: #f4ef51;
}

.contentPink{
    background: #FFb0FD;
}

@media screen and (min-width: 782px) and (max-width: 1157px){
    .contentPink{
        writing-mode: horizontal-tb;
    }
}

@media screen and (min-width: 0px) and (max-width: 782px){
    .content{
        writing-mode: horizontal-tb;
    }
}

