/* Scss Document */

@charset "utf-8";

$grid-bigdesktop-breakpoint: 1440px;
$grid-menudesktop-breakpoint: 1020px;
$grid-desktop-breakpoint: 720px;
$grid-tablet-breakpoint: 360px;

// brekpoint sample
////////// Phone //////////
@media (max-width: $grid-tablet-breakpoint - 1) {
}

////////// Tablet //////////
@media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
}

////////// Desktop //////////
@media (min-width: $grid-desktop-breakpoint) and (max-width: $grid-menudesktop-breakpoint - 1) {
}

////////// MenuDesktop //////////
@media (min-width: $grid-menudesktop-breakpoint) and (max-width: $grid-bigdesktop-breakpoint - 1) {
}

////////// BigDesktop //////////
@media (min-width: $grid-bigdesktop-breakpoint) { 
}