html,body,.main{
    height: 100%;
}
p {
    margin: 0px;
}
.item1,.item2,.item3{
    color: white;
    font-size: 30px;
    font-family: "ＭＳ Ｐゴシック",sans-serif;
}
.item1{
    background-color:#ffaf5f;
    height: 50%;
}
.item2{
    background-color:#b0dd58;
    height: 25%;
}
.item3{
    background-color:#69c9f9;
    height: 25%;
}
