@media screen and (max-width:359px ) {  
    .box--1 {
       width: 100%;
       height: 100px;
       background: #FFAF5F;
    }
    .box--2 {
       width: 100%;
       height: 400px;
       background: #B0DD58;
    }
    .box--3 {
       width: 100%;
       height: 400px;
       background: #69C9F9;
    }
}

@media screen and (min-width:360px)and (max-width:719px) {  
    .box--1 {
       width: 100%;
       height: 100px;
       background: #FFAF5F;
    }
    .box--2 {
       width: 60%;
       height: 400px;
       background: #B0DD58;
    }
    .box--3 {
       width: 40%;
       height: 400px;
       background: #69C9F9;
    }
    .flexbox{
        display: flex;
    }
    
    .row{
        flex-direction: row-reverse;
    }
    .rowｰreverse{
        flex-direction: row-reverse;
    }
    .column{
        flex-direction: column;
    }
}

@media screen and (min-width:720px) {  
    .box--1 {
       width: 100%;
       height: 50px;
       background: #FFAF5F;
    }
    .box--2 {
       width: 20%;
       height: 500px;
       background: #B0DD58;
    }
    .box--3 {
       width: 80%;
       height: 500px;
       background: #69C9F9;
    }
    .flexbox{
        display: flex;
    }

    .row{
        flex-direction: row;
    }
    .rowｰreverse{
        flex-direction: row-reverse;
    }
    .column{
        flex-direction: column;
    }
}  