@charset "UTF-8";
/* Scss Document */
/* Scss Document */
/* Scss Document */
*[font-size="13"] {
  font-size: 13px; }

*[font-size="19"] {
  font-size: 19px; }

*[font-size="27"] {
  font-size: 27px; }

.body {
  font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif"; }

.body__main {
  padding: 24px;
  margin: 24px; }

.body__main, .table {
  border: solid thin;
  border-radius: 4px; }

.header {
  background-color: #2196F3;
  margin: 24px; }

.header__title {
  font-size: 27px;
  margin-left: 24px; }
  .header__title:after {
    content: "セレクタの使い方を覚えよう";
    color: #757575;
    font-size: 19px;
    margin-left: 24px; }

[class^="table__row"] td {
  font-weight: bold; }

.table {
  width: 100%;
  text-align: center; }
  .table .table__row:first-child td {
    background-color: #FFFFFF; }
  .table .table__row td {
    background-color: #8BC34A; }

.form__chkbox:checked + label + div {
  visibility: hidden; }

.main__link p a {
  color: #8BC34A; }

.main__link p a:not([target*="_blank"]) {
  color: #BBDEFB; }

.form > *, .main__link a, .footer .footer__navitem a {
  cursor: pointer; }

a[href] {
  text-decoration: none; }

.body__footer a[href]:hover {
  text-decoration: underline;
  color: #1976D2; }

.body__footer a[href]:active {
  color: #8BC34A; }
