/* Scss Document */
@charset "utf-8";

@import "../component/_color";
@import "../component/_font";


.body__main{
	padding: 24px;
	margin: 24px;
}

.body__main,.table{
	border: solid thin;
	border-radius: 	4px;
}

.header__title{
	background-color: $primary-color;
		&:after{
	        content:"セレクタの使い方を覚えよう";
			color: $secondary-text-color;
	}
}

.table{
	&  .table__row:first-child td{
		background-color: $primary-color-text;
	}
	& .table__row td{
		background-color: $accent-color;
	}
}

.form__chkbox:checked + label + div{
	visibility: hidden;
}

.main__link p{
	& a{
		color: $accent-color;
	}
	& a:not([target="_blank"]){
		color: $primary-color-light;
	}
}

.form > *,.main__link a,.footer .footer__navitem a{
	cursor: help;
}

:not(class^=".main__link"){
	
}

a[href^="#"]:hover{
	text-decoration: none;
	color: $primary-color-dark;
	
}
a[href^="#"]:active{
	color: $accent-color;
}